/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

.hero-section{
    background-image: url("/images/main.jpg");
}
body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}

.activities img {
    width: 200px;
}

.img-1{
    width: 200px;
}